:root {
  --color1-: #cfe3e3;
  --color2-: #84af9c;
  --color3-: #547164;
  --color4-: #333735;
  --color5-: #0e0e0e;
}

* {
  box-sizing: border-box;
  -webkit-user-select: none;
  user-select: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
  background-image: url("https://plus.unsplash.com/premium_photo-1675628019956-baa2c4075c74?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

#container {
  display: flex;
  justify-content: space-between;
}

/* This is the side menu */

header {
  min-height: 729px;
  border-right: 2px solid var(--color4-);
  background-color: rgba(213, 230, 231, 0.8);
  position: fixed;
}

header h2 {
  color: var(--color5-);
  padding: 1.2em 1.2em;
  margin: 0;
}

/*
.h2-el {
  background-color: var(--color2-);
} */

header a {
  text-decoration: none;
}

/* The main section of the webpage */

main {
  margin-left: 30em;
  background-color: rgb(0, 0, 0, 0.1);
  width: 100vw;
  padding-left: 2rem;
}

main div {
  max-width: 900px;
  border-bottom: 1px solid var(--color4-);
  margin-bottom: 2em;
}

main div:last-child {
  border-bottom: none;
}

main div > h1 {
  font-weight: lighter;
  color: var(--color1-);
}

main div > p {
  font-size: 1.2em;
  color: var(--color5-);
}

main ul,
ol {
  font-size: 1.2em;
  color: var(--color5-);
}

.section-2 li,
.section-3 li,
.section-7 li {
  padding: 0.7em;
}

.section-8 img {
  border-radius: 15px;
  width: 400px;
  object-fit: contain;
}

/* made the webpage responsive */

@media only screen and (max-width: 935px) {
  #container h1 {
    font-size: 1.4em;
  }

  #container h2 {
    font-size: 1.2em;
  }

  header h2 {
    padding-inline: 2rem;
  }

  main {
    margin-left: 25em;
    overflow: hidden;
  }

  main div {
    width: 80%;
  }

  main div > p {
    font-size: 1em;
  }

  main ul,
  ol {
    font-size: 1em;
  }

  .section-8 img {
    width: 180px;
  }
}

@media only screen and (max-width: 700px) {
  header {
    display: none;
  }

  main {
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: 2em;
  }

  main div {
    width: 100%;
  }
}
